body{
    margin: 0px;

    background-color: #111111;
    color: white;

    /*scrollbar-color: auto;*/
    /*scrollbar-color: rebeccapurple green;*/

    /*min-width: 490px;*/


    width:100%;
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
    /*overflow-x:visible;*/
    /*overflow-y:visible;*/

    /*font-family: DM Serif Display;*/
}

/* ========================= */


/*   https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp   */
/*   https://stackoverflow.com/questions/47576815/how-to-add-arrows-with-webkit-scrollbar-button   */
/*   https://stackoverflow.com/questions/40512026/no-arrow-buttons-in-scrollbar-after-writing-webkit-css/46229219#46229219   */

/*
Scrollbar Selectors
For webkit browsers, you can use the following pseudo elements to customize the browser's scrollbar:

::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.
*/

/* Buttons */
/*::-webkit-scrollbar-button {*/
::-webkit-scrollbar-button:single-button {
    background-color: #222222;
    /*background-color: #333333;*/
    /*background-color: #bbbbbb;*/
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    top: 95px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: #555;*/
    background: #555;
}











/*::-webkit-scrollbar {*/
/*    width: 16px;*/
/*    border: 5px solid white;*/

/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: #b0b0b0;*/
/*    background-clip: padding-box;*/
/*    border: 0.05em solid #eeeeee;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: #bbbbbb;*/
/*}*/
/*!* Buttons *!*/
/*::-webkit-scrollbar-button:single-button {*/
/*    background-color: #bbbbbb;*/
/*    display: block;*/
/*    border-style: solid;*/
/*    height: 13px;*/
/*    width: 16px;*/
/*}*/
/*!* Up *!*/
/*::-webkit-scrollbar-button:single-button:vertical:decrement {*/
/*    border-width: 0 8px 8px 8px;*/
/*    border-color: transparent transparent #555555 transparent;*/
/*}*/

/*::-webkit-scrollbar-button:single-button:vertical:decrement:hover {*/
/*    border-color: transparent transparent #777777 transparent;*/
/*}*/
/*!* Down *!*/
/*::-webkit-scrollbar-button:single-button:vertical:increment {*/
/*    border-width: 8px 8px 0 8px;*/
/*    border-color: #555555 transparent transparent transparent;*/
/*}*/

/*::-webkit-scrollbar-button:vertical:single-button:increment:hover {*/
/*    border-color: #777777 transparent transparent transparent;*/
/*}*/






/* Up */
::-webkit-scrollbar-button:vertical:decrement
{
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #404040 transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover
{
    border-color: transparent transparent #505050 transparent;
}
/* Down */
::-webkit-scrollbar-button:vertical:increment
{
    border-width: 14px 7px 0 7px;
    border-color: #404040 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover
{
    border-color: #505050 transparent transparent transparent;
}







/*!* Scrollbar style for Chrome *!*/

/*!* Track *!*/
/*::-webkit-scrollbar*/
/*{*/
/*    width: 14px;*/
/*    height: 14px;*/
/*}*/
/*::-webkit-scrollbar-track*/
/*{*/
/*    background: #303030;*/
/*    border: solid 2px rgba(33,33,33,0.5);*/
/*}*/
/*!* Thumb *!*/
/*::-webkit-scrollbar-thumb*/
/*{*/
/*    background: #404040;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover*/
/*{*/
/*    background: #505050;*/
/*}*/
/*::-webkit-scrollbar-thumb:active*/
/*{*/
/*    background: #404040;*/
/*}*/
/*::-webkit-scrollbar-thumb:vertical*/
/*{*/
/*    border-top: solid 2px rgba(33,33,33,0.5);*/
/*    border-bottom: solid 2px rgba(33,33,33,0.5);*/
/*}*/
/*::-webkit-scrollbar-thumb:horizontal*/
/*{*/
/*    border-right: solid 2px rgba(33,33,33,0.5);*/
/*    border-left: solid 2px rgba(33,33,33,0.5);*/
/*}*/
/*!* Buttons *!*/
/*::-webkit-scrollbar-button*/
/*{*/
/*    border-style: solid;*/
/*    height: 16px;*/
/*    width: 16px;*/
/*}*/
/*!* Up *!*/
/*::-webkit-scrollbar-button:vertical:decrement*/
/*{*/
/*    border-width: 0 7px 14px 7px;*/
/*    border-color: transparent transparent #404040 transparent;*/
/*}*/
/*::-webkit-scrollbar-button:vertical:decrement:hover*/
/*{*/
/*    border-color: transparent transparent #505050 transparent;*/
/*}*/
/*!* Down *!*/
/*::-webkit-scrollbar-button:vertical:increment*/
/*{*/
/*    border-width: 14px 7px 0 7px;*/
/*    border-color: #404040 transparent transparent transparent;*/
/*}*/
/*::-webkit-scrollbar-button:vertical:increment:hover*/
/*{*/
/*    border-color: #505050 transparent transparent transparent;*/
/*}*/
/*!* Left *!*/
/*::-webkit-scrollbar-button:horizontal:decrement*/
/*{*/
/*    border-width: 7px 14px 7px 0;*/
/*    border-color: transparent #404040 transparent transparent;*/
/*}*/

/*::-webkit-scrollbar-button:horizontal:decrement:hover*/
/*{*/
/*    border-color: transparent #505050 transparent transparent;*/
/*}*/
/*!* Right *!*/
/*::-webkit-scrollbar-button:horizontal:increment*/
/*{*/
/*    border-width: 7px 0 7px 14px;*/
/*    border-color: transparent transparent transparent #404040;*/
/*}*/
/*::-webkit-scrollbar-button:horizontal:increment:hover*/
/*{*/
/*    border-color: transparent transparent transparent #505050;*/
/*}*/





/* ========================= */





.google-maps {
    position: relative;
    /*padding-bottom: 75%; !* This is the aspect ratio! *!*/
    padding-bottom: 67%; /* This is the aspect ratio! */
    /*padding-right: 67%; !* This is the aspect ratio! *!*/
    /*padding-bottom: 100%; !* This is the aspect ratio! *!*/
    height: 0;
    overflow: hidden;

    margin: 20px;
    border-radius: 25px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}




/* ========================= */



#navbar-top {
    margin: 0px;

    background-color: #222222;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-end;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

    /*overflow: hidden;*/
    /*background-color: #333;*/

    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/

    /*width: auto;*/
    /*margin-left: 390px;*/

    height: 95px;

    box-shadow: 5px 5px 20px 1px #0F0F0F;
    /*box-shadow: 5px 5px 20px 1px red;*/
    position: relative;
}

.navbar-top-title-box {
    flex: 5;
    /*flex-flow: row;*/
    justify-content: center;
    display: inline-block;
    align-self: center;
    position: center;

    horiz-align: center;

    /*margin: 20px;*/
    /*padding: 20px;*/
    /*!*horiz-align: center;*!*/
    /*background-color: red;*/
    /*margin-left: 100px;*/
}
.navbar-top-title-box-text {
    text-align: center;

    font-size: xxx-large;

    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*max-width: fit-content;*/
}
.navbar-top-title-box-text a {
    text-decoration: none;
    color: white;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}
.navbar-top-title-box p {
    margin: 0px;

    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}
.navbar-top-left {
    flex: 2;
    text-align: center;
    horiz-align: center;
    margin-top: auto;
    margin-bottom: auto;
    /*background-color: blue;*/

    min-width: 60px;
}
.navbar-top-right {
    flex: 2;
    text-align: center;
    horiz-align: center;
    margin-top: auto;
    margin-bottom: auto;
    /*background-color: blue;*/
}
.navbar-top-right-text {
    text-align: center;

    /*font-size: xxx-large;*/

    /*width: 300px;*/
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    /*max-width: fit-content;*/
}
.navbar-top-right-text a {
    text-decoration: none;
    color: white;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}
.navbar-top-right p, .navbar-top-right h1 {
    margin: 0;
    padding: 0;
}


#Toggle_DarkMode {
    display: inline-block;

    cursor: pointer;
    user-select: none;

    horiz-align: center;

    font-size: 35px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/

    background-color: transparent;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-top: 5px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: max-content;*/
    /*width: 100%;*/

    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-flow: row;*/

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*background-color: yellow;*/
}
#Toggle_DarkMode p {
    display: inline-block;
    /*padding-top: 5px;*/
    /*padding-bottom: auto;*/
    margin-top: auto;
    margin-bottom: auto;

    /*background-color: red;*/
}

/* ========================= */

#sidebar-left {
    /*padding: 20px;*/
    background-color: #111111;
    /*color: white;*/
    padding: 20px;
    padding-right: 0px;
}
#sidebar-left-main {
    padding-bottom: 250px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    padding-top: 60px;
}

.sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .sidebar-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    /*font-size: 36px;*/
    font-size: 55px;
    margin-left: 50px;

    user-select: none;
}

#navbar-top-sidebar-openbutton, #navbar-top-sidebar-openbutton div {
    /*flex: 2;*/
    /*flex-flow: row;*/
    /*justify-content: left;*/
    /*align-items: flex-start;*/
    /*float: left;*/

    display: inline-block;
    /*float: left;*/

    margin-top: auto;
    margin-bottom: auto;

    /*visibility: collapse;*/
    /*visibility: visible;*/

    /*display: inline;*/
    /*background-color: greenyellow;*/

    /*position: fixed;*/
}
.sidebar-openbtn {
    font-size: 55px;
    cursor: pointer;
    /*background-color: #111;*/
    /*color: white;*/
    background-color: #222222;
    color: white;

    /*padding: 10px 15px;*/
    /*padding: 10px 25px;*/
    /*margin: 10px 25px;*/
    /*margin-left: 0px;*/
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 5px;
    margin-left: 10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    border: none;

    border-radius: 25px;

    position: fixed;
    top: 7px;

    /*border: 1px solid yellow;*/
    /*box-shadow: 0 30px 40px rgba(0,0,0,50);*/
    /*box-shadow: 5px 10px red;*/
    /*box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px;*/
    /*box-shadow: 10px 5px 20px 2px #171717;*/
}
.sidebar-openbtn:hover {
    background-color: #444;
}




#sidebar-left-main-header {
    /*padding: 20px;*/

    padding-top: 20px;
    padding-left: 20px;
    /*padding-right: 20px;*/
}
#sidebar-left-main-searchOptions {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
}

#Input_searchAllSites {
    /*background-image: url('/css/searchicon.png');*/
    /*background-position: 10px 12px;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    font-size: 20px;
    /*padding: 12px 20px 12px 40px;*/
    padding: 10px 10px 10px 10px;
    /*border: 1px solid #ddd;*/
    margin-top: 10px;
    margin-bottom: 10px;


    /*width: 80%;*/
    /*margin-right: 20px;*/
    /*width: 310px;*/
    /*width: auto;*/
    /*max-width: max-content;*/

    border: 1px solid #222222;
    background-color: #333333;
    color: White;

    float: left;
}
#Toggle_searchAllSites_Sorter {
    display: inline-block;

    cursor: pointer;
    user-select: none;

    horiz-align: center;

    font-size: 35px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/

    background-color: transparent;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-top: 5px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: max-content;*/
    /*width: 100%;*/

    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-flow: row;*/

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*background-color: yellow;*/
}
#Toggle_searchAllSites_Sorter p {
    display: inline-block;
    padding-top: 5px;
    /*padding-bottom: auto;*/
    margin-top: auto;
    margin-bottom: auto;

    /*background-color: red;*/
}

#List_AllSites {
    list-style-type: none;
    padding: 0;
    margin: 0;


    /*margin: 0 auto;*/
    max-width: max-content;
    /*max-width: initial;*/
    /*max-width: none;*/
    /*max-width: 20px;*/

    padding-left: 20px;
    padding-right: 20px;
}
#List_AllSites li a {
    /*
    border: 1px solid #ddd;
    margin-top: -1px; // Prevent double borders
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
    */
}
#List_AllSites li a:hover:not(.header) {
    /*
    background-color: #eee;
    */
}




/* ========================= */

#section-main {
    padding-top:     25px;
    padding-bottom:     25px;
    /*margin-top:     25px;*/
    /*margin-bottom:     25px;*/
    /*margin-top: 95px;*/ /* 95px is the height of the navbar-top */
    /*margin-top: 120px;*/ /* 95px is the height of the navbar-top */


}

.main-grid {
    /*background-color: red;*/
    /*padding: 0px;*/
}


.main-grid-row {
    /*margin-top: 150px;*/
    display: flex;
}

.main-grid-row {
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: space-between;
    /*justify-content: space-around;*/
    /*position: center;*/

    /*margin-top: 150px;*/

    margin-left:    25px;
    margin-right:   25px;
    /*margin-top:     25px;*/
    /*margin-bottom:  25px;*/
}

.main-grid-box {
    flex: 1;
    /*margin: 20px;*/
    padding: 20px;
    /*margin: 50px;*/
    margin-left:    25px;
    margin-right:   25px;
    margin-top:     25px;
    margin-bottom:  25px;

    background-color: #222222;
    color: white;

    min-width: 350px;
    width: auto;
    height: auto;

    /*display: inline-block;*/

    border-radius: 25px;

    /*box-shadow: 10px 5px 20px 2px #171717;*/
    /*box-shadow: 0px 0px 20px 1px #171717;*/

    box-shadow: 0px 0px 20px 1px #0F0F0F;
    box-shadow: 5px 5px 20px 1px #0F0F0F;
}
.main-grid-box h1 {
    font-size: xx-large;
    font-weight: 800;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}
.main-grid-box h2 {
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
    font-style: italic;

    text-align: center;
}
.main-grid-box a {
    color: white;
}

.main-grid-box-inner {
    width: auto;
    horiz-align: center;
    /*text-align: center;*/
}
.main-grid-box-inner hr {
    margin: 0;
    padding: 0;
}

.main-grid-box-title {
    /*margin: 0;*/
    /*padding: 0;*/
    text-align: center;
}


.main-grid-box-subcontainer, .main-grid-box-subcontainer-vertical {
    display: flex;
    flex-flow: row wrap;
    /*padding-bottom: 50px;*/
    /*margin-bottom: 50px;*/
}
.main-grid-box-subcontainer-vertical-sub {
    /*display: flex;*/
    /*flex-flow: row wrap;*/

    flex: 1;

    min-width: 300px;
    width: auto;
    height: auto;
    /*padding-top: 1px;*/
    padding-bottom: 1px;
    /*margin-bottom: 50px;*/

    margin: 20px;
    border-radius: 25px;
    background-color: #333333;
}
.main-grid-box-subcontainer-sub {
    /*display: flex;*/
    /*flex-flow: row wrap;*/

    flex: 1;

    /*min-width: 300px;*/
    min-width: 270px;
    width: auto;
    height: auto;
    /*padding-top: 1px;*/
    padding-bottom: 1px;
    /*margin-bottom: 50px;*/

    margin: 20px;
    border-radius: 25px;
    background-color: #333333;

    padding-left: 20px;
    padding-right: 20px;
}
.main-grid-box-subcontainer-sub h2, .main-grid-box-subcontainer-vertical-sub h2 {
    /*padding-top: 20px;*/
    /*background-color: red;*/
}


.main-grid-box-links {
    padding-top: 0px;
    /*padding-left: 15px;*/
    /*padding-left: 15px;*/
    font-size: 25px;
    /*position: static;*/

    /*horiz-align: center;*/
    /*text-align: center;*/
    /*text-align: left;*/

    /*background-color: red;*/

    /*margin-left: 200px;*/
    /*margin-left: auto;*/
    /*margin-left: center;*/
    /*margin-right: 200px;*/

    /*text-align: center;*/

    margin: 0 auto;
    max-width: max-content;
    display: block;

    margin-top: 1em;
    margin-bottom: 1em;


    list-style-type: none;

}
.main-grid-box-links div {
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
}
.main-grid-box-links img{
    margin: 0px;
    padding: 0px;
    /*padding-top: 50px;*/
}
.main-grid-box-links a {
    color: #bababa;
    /*color: red;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
}

.icon{
    aspect-ratio: 1/1;
    /*width: 15px;*/
    height: 30px;
    margin: 0px;
    padding: 0px;
    /*line-height: 200px;*/
    /*line-height: 200px;*/
    /*display: inline;*/
    vertical-align: middle;
    /*position: relative;*/
    /*display: inline-block;*/
    /*display: inline;*/
}

.sitelink {         /*   a element   */
    display: block;
    text-decoration: none;

    display: flex;
    flex-flow: row;

    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    margin-top:     15px;
    margin-bottom:  15px;

    /*margin: 20px;*/
    /*padding: 10px;*/
    padding-left:   10px;
    padding-right:  10px;
    padding-top:    5px;
    padding-bottom: 5px;
    border-radius: 25px;

    /*user-select: none;*/

    font-family: Nunito,Helvetica Neue,Helvetica,sans-serif;
}
.sitelink:hover {
    /*color: #f1f1f1;*/
    color: white;
    background-color: #2e2e2e;
}
.sitelink img {
    position: center;

    margin-right: 7px;
    margin-top: auto;
    margin-bottom: auto;

    /*background-color: greenyellow;*/
}
.sitelink p {
    margin: 0px;
    padding: 0px;
    /*padding-top: 2px;*/
    display: inline-block;
    /*text-decoration: underline;*/

    /*background-color: red;*/
}
/*.main-grid-box-links, .sitelink {*/
/*.main-grid-box-links > div {*/
.main-grid-box-links > li > a {
    background-color: #191919;
    /*background-color: #1a1a1a;*/
}
/*.main-grid-box-inner > div > div > div > div {*/
.main-grid-box-inner > div > div > div > li > a {
    /*background-color: #191919;*/
    /*background-color: #1a1a1a;*/
    background-color: #2a2a2a;
    /*background-color: #2b2b2b;*/
    /*background-color: white;*/
}


/*
main
#111111

outer
#222222

inner
#333333

sitelink
#191919
#1a1a1a
#2a2a2a
#2b2b2b
*/





/* ============================================================================================= */

@media screen and (max-width: 700px) {
    /*  Do this in JS, need a check if sidebar is open or not  */
    /* document.getElementById("List_AllSites").style.width = "100%";*/
    #sidebar-left {
        /*width: 100%;*/
    }
}



/*@media screen and (max-width: 480px) {*/
@media screen and (max-width: 688px) {
/*@media screen and (max-width: 910px) {*/
    .main-grid-row {
        /*display: flex;*/
        /*flex-flow: row wrap;*/
        /*justify-content: space-around;*/
        /*position: center;*/

        /*margin-top: 150px;*/

        flex-flow: column;
    }
}
@media screen and (max-width: 860px) {
    .main-grid-box-subcontainer {
        /*display: flex;*/
        /*flex-flow: row wrap;*/

        flex-flow: column;
        /*background-color: red;*/
    }
}